.tweets-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.pagination-container {
  width: 500px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination-container p {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.loading-spinner {
  width: 60px;
  padding-top: 50px;
  margin: 0 auto;
}
.loading-spinner p {
  margin-top: 5px;
}
